# Created by .ignore support plugin (hsz.mobi)
*.class
/target/*.*
/.idea/*.*
*.iml
/.gradle/8.8/checksums/checksums.lock
/.gradle/8.8/checksums/md5-checksums.bin
/.gradle/8.8/checksums/sha1-checksums.bin
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/executionHistory/executionHistory.bin
/.gradle/8.8/executionHistory/executionHistory.lock
/.gradle/8.8/fileChanges/last-build.bin
/.gradle/8.8/fileHashes/fileHashes.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/8.8/fileHashes/resourceHashesCache.bin
/.gradle/8.8/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/build/tmp/compileJava/previous-compilation-data.bin
